@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-bar">
            <div class="top-row px-4">
                <a href="/" class="logo-link">
                    <p class="logo">BlazorShop</p>
                </a>
            </div>

            <div class="search-container">
                <EditForm Model="@this" OnValidSubmit="HandleSubmit">
                    <InputText placeholder="Search..." class="search-input" @bind-Value="searchTerm" />
                    <button type="submit" class="search-button">Search</button>
                </EditForm>
            </div>

            <div class="top-row px-4">
                <div class="cart">
                  <img src="images/cart.svg" alt="Cart" class="cart-icon" />
                    <p>Cart</p>
                </div>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string searchTerm = string.Empty;

    private void PerformSearch()
    {
        Console.WriteLine("PerformSearch called");
        Console.WriteLine($"Navigating to /search/{Uri.EscapeDataString(searchTerm)}");
        NavigationManager.NavigateTo($"/search/{Uri.EscapeDataString(searchTerm)}");
    }

    private void HandleSubmit()
    {
        PerformSearch();
    }

    [Inject]
    private NavigationManager NavigationManager { get; set; }
}