<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BlazorShop.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes @rendermode=RenderMode.InteractiveServer /> @*FUCK THIS LINE OF FUCK FUCK FUCK THIS WAS THE ONLY LINE REQUIRED TO FIX THE REDIRECT ISSUE I WAS HAVING THAT I WAS TRYING TO SOLVE FOR 2 HOURS*@
    <script src="_framework/blazor.web.js"></script>
</body>

</html>