body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 20px;
}

.title {
    margin-top: 30px;
    text-align: center;
}
.title-description {
    text-align: center;
    margin-bottom: 100px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.col-md-4 {
    box-sizing: border-box;
    padding: 15px; /* Adds padding around the column to create spacing */
    flex: 1 0 25%; /* Ensures three items per row */
    max-width: 30%;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    overflow: hidden;
    height: 400px; /* Fixed height for cards */
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    width: calc(100% - 20px); /* Adjust width to accommodate padding */
    height: 200px; /* Fixed height for images */
    background-size: contain; /* Ensure the entire image fits within the container */
    background-repeat: no-repeat;
    background-position: center;
    transition: background-size 0s ease, background-position 0s ease; /* Smooth transition for zoom and position */
    border: solid 2px #ddd;
    padding: 10px;
    margin: 10px auto 0; /* Center image horizontally and add top margin */
    box-sizing: border-box;
}

.card-img-top:hover {
    background-size: 100%; /* Zoom in on hover */
}

.card-body {
    padding: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute space between elements */
    flex-grow: 1; /* Allow card body to grow and take available space */
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 0.95rem;
    color: #555;
    margin-bottom: 16px;
    flex-grow: 1; /* Allow text to grow and take available space */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3; /* Limit to 3 lines */
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price{
    font-size: 1.25rem;
    font-weight: bold;
    color: #555;
}

.btn-primary {
    background-color: #55AD9B;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    transition: background-color 0.2s;
    align-self: flex-end; /* Align button to the end of the flex container */
}

.btn-primary:hover {
    background-color: #95D2B3;
}

/* Media Queries for Responsive Design */
@media (max-width: 1200px) {
    .col-md-4 {
        flex: 1 0 28%; /* Three items per row */
        max-width: 28%;
    }
}

@media (max-width: 992px) {
    .col-md-4 {
        flex: 1 0 45%; /* Two items per row */
        max-width: 45%;
    }
}

@media (max-width: 768px) {
    .col-md-4 {
        flex: 1 0 100%; /* One item per row */
        max-width: 100%;
    }
}